<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjFd-AI5XfOBHF5BA-S5dK94KLZ5ebiWU</string>
	<key>GCM_SENDER_ID</key>
	<string>500529511806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.campusRecruitment.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>campus-recruitment-d8aad</string>
	<key>STORAGE_BUCKET</key>
	<string>campus-recruitment-d8aad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500529511806:ios:3ae756f861f2b82b65072f</string>
</dict>
</plist>